RewriteCond %{HTTP_HOST} ^aquacarwash.pl$
RewriteRule ^(.*)$ https://aquacarwash.pl/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.aquacarwash.pl$
RewriteRule ^(.*)$ https://aquacarwash.pl/$1 [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]